body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

section {
    background-color: white;
    border: solid 1px #4B56D2;
 }

 .hero {
    background-color: #4B56D2;
    height: 100vh;
    color: white;
    font-size: 40px;
 }

 footer {
    background-color: #FFFBE9;
    color: white;
    text-align: center;
    border: solid 1px #4B56D2;
    padding-bottom: 15px;
 }

 nav {
    display: flex;
    justify-content: space-between;
 }

 ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
 }

 ul.show {
   display: block;
 }

 li {
   
    text-decoration: none;
 }

 h1 {
    font-size: 90px;
    margin: 0;
 }

 h2 {
   font-size: 45px;
 }

 p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
 }

 .subtext {
   font-size: 15px;
   font-weight: 300;
 }

 a {
   text-decoration: none;
   color: white;
 }

 .hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
 }

 .hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
 }

 .button {
    width: 200px;
    height: 50px;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    padding-top: 7px;
    font-size: 30px;
    font-weight: 300;
 }

 .button:hover {
    background-color: #ef744b;
 }

 .button:active {
    background-color: #a9a9a9;
    color: #808080;
 }

 .socials {
    padding-bottom: 200px;
 }

 .logo {
   height: 130px;
   margin: 5px;
 }

 .social-logo {
   margin: 20px;
 }

 .subsec {
   display: flex;
   justify-content: space-around;
   padding: 80px;
 }

 .subsec-alt {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 80px;
 }

.personalphoto {
   width: 300px;
   margin-left: 80px;
   border-radius: 150px;
} 

.personalphoto-container {
   display: flex;
   align-items: center;
}

.project-card {
   width: 200px;
   background-color: #f4f4f4;
   height: 500px;
   box-shadow: 5px 5px 20px;
}

.project-container {
   display: flex;
   justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
   .project-container {
      display: flex;
      flex-wrap: wrap;
   }
}

.project-img {
   height: 300px;
   width: 150px;
   margin-top: 10px;
}

hr {
   margin-left: 20px;
   margin-right: 20px;
}

.project-link {
   text-decoration: none;
   color: #ef744b;
}

.contacthead {
   color: #4B56D2;
}

.contactbody {
   color: #4B56D2;
   padding-bottom: 10px;
}

.hamburger {
   display: none;
}

.hamburger:focus {
   outline: 0;
}

@media only screen and (max-width: 1000px) {
   .hamburger {
      display: block;
      border: 0;
      background-color: transparent;
      color: white;
      font-size: 30px;
      margin: 20px;
      align-self: flex-end;
   }

   ul {
      display: none;
      margin: 0px;
      
   }

   nav {
      align-items: flex-start;
      flex-direction: column-reverse;
   }

}